.nav1 {
    width: 100%;
    background-color: #021024;
    text-align: right;
}

.nav1 a {
    padding: 20px;
    color: white;

}

.nav2 {
    background-color: #5483B3;
    margin: 0 px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}

.nav2 a{
    color: white;
    display: block;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.logosize {
    width: 60px;
}

.search {
    position: absolute;
    right: 0;
    margin: 7px;
}

.search input[type=text] {
    border-radius: 50px;
    width: 250px;
    padding: 12.5px;
    border: none;
    font-size: 17px;
}
 .search img {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    width: 40px;
    height: 40px;
 }

 .search a {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    width: 40px;
    height: 40px;
 }