.filter-content {
    margin: 50px;
    margin-left: 85px;
    margin-right: 85px;
    font-size:28px;
}

.filter-content h1 {
    margin-bottom: 15px;
}

.filter-content hr {
    border-top: 3px solid black;
}

.search-filter {
    display: flex;
    /* padding: 10px; */
    
}

.search-filter div {
    margin: 10px;
    background-color: #D9D9D9;
    color: black;
    display: flex;
    width: 180px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

.search-filter img {
    width:10px;
    height:10px;
    margin: 10px;
}